/* src/components/Menu.css */
div {
    margin: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-top: 20px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 10px;
  }
  